{% extends "auctions/layout.html" %}

{% block body %}
  <h2>Item</h2>
  <div class="row row-cols-1 row-cols-md-3 g-4">
    {% for listing in listings %}
    <a href="{% url 'closed' id=listing.id %}" style="text-decoration: none; color: inherit;">
    <div class="col">
        <div class="card" style="width: 18rem;">
          <img src="{{ listing.image.url }}" class="card-img-top" alt="item image">
          <div class="card-body">
            <h5 class="card-title">{{listing.title}}</h5>
            <p class="card-text">{{listing.description}}</p>
        </div>
      </div>
    </div>
    </a>

    {% endfor %}
  </div>
{% endblock %}
